doctype html
html(lang="en")
  head
    title Chat Application
  body
    h1 Authentication
    div(class="container")
      a(href="/login") login here 
      
      a(href="/signup") sign up here
    

    