doctype html
html(lang="en")
    head
    meta(charset="UTF-8")
    title Login
    head
        body
        div(class="container")
        h1 Login
    form
        div(class="user-input")
            label Username
            input(type="text", class="type-here")
        div(class="user-input")
            label Password
            input(type="password", class="type-here")
        div(class="button-holder")
        button(type="submit") Submit
        p Don't have an account?
        a(href="/signup") sign up here