doctype html
html(lang="en")
head
  meta(charset="utf-8")
  title main page
  link(rel="stylesheet" href = "stylesheets/chat.css")
body
h1 MAIN PAGE
  p temporary demo of how to use mock data to build client
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
	script(type="text/javascript" src="app.js")