body,html{
  height:100%;
}

body{
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  background: linear-gradient(#0080ff, white);
  font-family: Helvetica, Arial, sans-serif;
}


#logo {
  text-align: center;
  padding-top:1.5em;
  color: yellow;
  font-size: 10em;
}

#welcome{
  text-align: center;
  color:#0080ff;
}

.front-logo{
  background-image:url('images/a_freakin_owl.jpg');
  height:100%;
  background-attachment:fixed;
  background-position:center;
  background-size:cover;
}

.front-logo h3{
  padding-top:50%;
}

.front-logo form{
  text-align:center;
}

.marketing h2{
  height:3em;
}

.actual-description p {
  text-align:left;
}

.marketing{
  height:36em;
}

.action-button{
  color:white;
  font-size:16px;
  border-style:none;
  border-radius:4px;
  background-color:#0080ff;
  padding:5px 10px;
}

.marketing{
  text-align:center;
  margin-top:15em;
}

#slogan{
  text-align:center;
  
}