<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/index.css">
  <title>SmileyProfile</title>
</head>

<body>
  <div class="description">

    <h1 id="logo"><i class="fa fa-smile-o fa-10x" aria-hidden="true"></i></h1>

    <h1 id="welcome">Welcome to Smiley Profile!</h1>
    
    <form method="link" action="/login">
      <input type="submit" value="Log In">
    </form>
    
    <form method="link" action="/signup">
      <input type="submit" value="Sign Up">
    </form>

  </div>
  <div class="marketing">
      <h3>Stay connected with friends!</h3>
  </div>
  


  <div class="actual-description">

    <h3>Really though, what is this?</h3>
    <p class>
    In the age of Big Data and Social Media, we volunteer a large amount of our personal information<br>
    to the internet, this project is my way of trying to understand the issue, by building a social networking app<br>
    that gathers user data.</p>

    <p>
      Essentially, this is an app that logs EVERYTHING that you do from the second you register to the site.
    </p>

    <ul>
      <h1>How it Works:</h1>
      Technologies used:
      <li>MongoDB</li>
      <li>Node.js</li>
      <li>jQuery</li>
      <li>Ajax</li>
      <li>SocketIO</li>
    </ul>

    <xmp>
  var userSchema = mongoose.Schema({
  
  local: {
    username: String,
    password: String
  },
  info:{
    age: Number,
    relationship:Boolean,
    userStatus: String,
    statusDates:Array,
    statusHistory: Array,
    friends: Array,
    creditCard: String,
  },
});
    </xmp>
    
    <p>Here is the code for my </p>
    
  </div>

</body>

</html>