<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/index.css">
  <title>SmileyProfile</title>
</head>

<body>
  <div class="description">

    <h1 id="logo"><i class="fa fa-smile-o fa-10x" aria-hidden="true"></i></h1>

    <h1>Welcome to Smiley Profile!</h1>

  </div>

  <div class="links">
    <p><a href="/login">Log in</a></p>
    <p><a href="/signup">Sign up</a></p>
  </div>


  <div class="actual-description">

    <h1 id="logo"><i class="fa fa-frown-o fa-10x" aria-hidden="true"></i></h1>

    <h3>Really though, what is this?</h3>

    <p>In the age of Big Data and Social Media, we volunteer a large amount of our personal information</p>
    <p>to the internet, this project is my way of trying to understand the issue, by building a social networking app</p>
    <p>that gathers user data.</p>

    <p>
      Essentially, this is an app that logs EVERYTHING that you do from the second you register to the site.
    </p>
    
    <ul>
      <h1>How it Works:</h1>
      Technologies used:
      <li>MongoDB</li>
      <li>Node.js</li>
      <li>jQuery</li>
      <li>Ajax</li>
      <li>SocketIO</li>
    </ul>

  </div>

</body>

</html>