<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href = "views/index.css">
  <title>Front Page</title>
</head>
<body>
  <h1>Welcome to the Grove</h1>
  <div class="container">
    <div class="description">
      <p>This is a place for you and your friends to gather</p>
      <p>together and do things</p>
    </div>
  
    <div class = "links">
      <a href ="/login">Log in here</a>
      <a href="/signup">Sign up here</a>
    </div>
  </div>
</body>
</html>