html{
  font-family: Helvetica,Arial,sans-serif;
  color:white;
}

body{
  padding-top:80px;
  background-color:#0080ff;
  display:block;
}
.container{
  margin-top:10em;
  text-align:center;
  border-color:black;
}

.button-type{
  color:white;
  font-size:16px;
  border-style:solid;
  border-radius:4px;
  background-color:#0080ff;
}
