<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href = "views/profile.css">
  <title>Document</title>
</head>
<body>
<div class="container">
  <h1>Profile Page</h1>
  
  <div class = "user-info">
    <p> Welcome </p>
  </div>
  
  <div class="rooms">
      <p><a href="/chat">Click to go to chat</a></p>
  </div>
  
  <div class = "user-edit">
    <form action="/" method="post">
      <div class="user-input">
        <label>Change Username</label>
        <input type="text" name="newUsername" class="type-here">
        <input class="button-type" type="submit" value="Submit">
      </div>
    </form>
  </div>
  <div class= "/logout">
    <form action="/" method="get">
      <input class="button-type" type="submit" value="Log out">
    </form>
  </div>

</div>
</body>
</html>