<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/login.css">
</head>

<body>
    <div class="container">
        <form id="signup-form" action="/signup" method="post">
            
            <fieldset>
                <h2>Signup</h2>
                <div class="user-input" id="username">
                    <input type="text" name="username" class="type-here" placeholder="Username">
                </div>
                
                <div class="user-input" id="password">
                    <input type="password" name="password" class="type-here" placeholder="Password">
                </div>
                
                <div id="gender-select">
                    Gender:
                    <select name="genders">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <div class="button">
                    <input class="action-button" type="submit" value="Submit">
                </div>
            </fieldset>

        </form>
        <div class="link">
            <p>log in: <a href="/login">here</a></p>
        </div>
    </div>
</body>

</html>