<!doctype html>
<html lang="en">

<head>
  <title>Chatroom</title>
  <meta charset="utf-8">
  <!--JS-->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="libs/socket.io/node_modules/socket.io-client/socket.io.js"></script>
  <script src="views/chat/chat.js"></script>

  <!--CSS-->
  <link rel="stylesheet" href="views/chat/chatstyle.css">
</head>

<body>
  <ul class="chat">
    <li class="chatPage">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      
      <p class = "notifications"></p>
      
      <input class="inputMessage" placeholder="Type here..." />
    </li>
  </ul>
  

</body>

</html>