<!doctype html>
<html lang="en">

<head>
  <title>Chatroom</title>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="chat.js"></script>

  <link rel="stylesheet" href="chatstyle.css">
</head>

<body>
  
 <div id="sidebar">
    <div id="image-container">
      <img id="profile-image" src="../images/default-guy.png" />
    </div>
    
    <h3><span id="name"></span> Chat</h3>
    <ul id="rooms">
      <li class="link"><a href="/profile">Profile</a></li>
      <li class="link"><a href="/logout">Log out</a></li>
    </ul>
</div>

<div class="chat-container">
      <ul class="messages"></ul>
      
      <input class="inputMessage" placeholder="Type here..." />
</div>

</body>

</html>