<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href = "profile.css">
   
   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
   <script src="profile.js"></script>
   
  <title>Profile Page</title>
</head>


<body>
<div class="container">
  
  <h3><span id="name"></span> Profile Page</h3>
  <div class="status-container">
    <form action="/profile" method="post" id="update">
      <div class="user-input">
        <label>Set Status:</label>
        <input type="text" name="name" id="userUpdatefield">
        <input type="submit" name="submit">
      </div>
  </div>
  <div>
    <p>How I'm feeling right now: <span id="userStat"></span></p>
  </div>
  
  <div class="friends">
    <h3>Here are my friends:</h3>
      <ul id='#friendsList'>
      </ul>
  </div>
  
  <div class="file-upload">
    <h3>Upload photos:</h3>
    <form id = "uploadForm"
    enctype = "multipart/form-data"
    action = "api/photo"
    method = "post">
      
    <input type="file" name="userPhoto"/>
    <input type="submit" value="Upload Image" name="submit">
    <span id="upload-status"></span>
    </form>
  </div>
  
  <div class="rooms">
      <p><a href="/chat">Click to go to chat</a></p>
      <p><a href="/logout">Or Click to log out</a></p>
  </div>
  
</div>
</body>
</html>