<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href = "profile.css">
   
   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
   <script src="profile.js"></script>
   
  <title>Document</title>
</head>
<body>
<div class="container">
  <h1>Profile Page</h1>
  
  <div class = "user-info">
    <p> Welcome <span id="name"></span></p>
    <p class="name"></p>
  </div>
  
  <div class="name-form">
    <form action="/profile" method="post" id="update">
      <div class="user-input">
        <label>Set Status:</label>
        <input type="text" name="name" id="userUpdatefield">
        <input type="submit" name="submit">
      </div>
  </div>
  <div>
    userStatus: <p id="userStat"></p>
  </div>
  <div class="rooms">
      <p><a href="/chat">Click to go to chat</a></p>
      <p><a href="/logout">Or Click to log out</a></p>
  </div>
  
  
  <div class= "logout">
    <form action="/logout" method="get">
      <input type="submit" value="Log out">
    </form>
  </div>
  
  <!--
  <div class="delete">
  <form action="/delete_user" method="/delete_user">
        <p>Or would you like to delete your account?</p>
        <input class="button-type" type="submit" value="delete">
    </form>
  </div>
-->
</div>
</body>
</html>